/* modification generale */
/* PARTIE S'INSCRIRE ET S'ENREGISTRER */
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#sign-up {
  margin-top: 15vh;
}

.mt-10 {
  margin-top: 5em;
}
/* FIN PARTIE S'INSCRIRE ET S'ENREGISTRER */

/* NAVBAR
 PARTIE SIGN IN SIGN UP */

.pink.navbar {
  background-color: rgb(230, 178, 194);
}
a.navbar-brand {
  color: white;
}
a.nav-link {
  color: beige;
}
a.nav-link:hover {
  color: goldenrod;
}
/* FIN NAVBAR SIGN IN ET SIGN */

